extends ../layout/admin

block head

    script.
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });

            function tabnameSetter(targettab, targetinput) {
                targettab.on('shown.bs.tab', function (e) {
                    var target = $(e.target);
                    targetinput.attr('value', target.attr('tabname'));
                })
            }

            tabnameSetter($('#navigationTabs'), $('#navigationtype'));
            tabnameSetter($('#answerTabs'), $('#answertype'));
        });

block content
    section.content-header
        h1
            | Station
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='/admin')
                    i.fa.fa-dashboard
                    |  Admin
            li.active Station
    section.content
        if error
            +error(error.title, error.errortext, error.list)
        if success
            +success(success.title, success.msg)
        .box.box-info
            .box-header.with-border
                h3.box-title Stations
                .box-body
                    | Body
                .box-footer
                    | Footer
        .box.box-info
            .box-header.with-border
                h3.box-title New Station
            form.form-horizontal(action="/admin/station", method="post")
                +input('navigationtype', 'navigationtype', 'hidden', 'compass')
                +input('answertype', 'answertype', 'hidden', 'qr')
                .box-body
                    +input('name', 'name', 'text',  'Name')
                    +input('description', 'description', 'text', 'Description')
                    .form-group
                        label.col-sm-2.control-label Navigation
                        .col-sm-10
                            .nav-tabs-custom#navigationTabs
                                ul.nav.nav-tabs
                                    li.active
                                        a(href='#tabCompass', tabname='compass', data-toggle='tab') Compass
                                    li
                                        a(href='#tabMap', tabname='map', data-toggle='tab') Map
                                    li
                                        a(href='#tabText', tabname='text', data-toggle='tab') Text
                                .tab-content
                                    #tabCompass.tab-pane.active
                                        +input('compass_lat', 'compass[lat]', 'text', 'Latitude')
                                        +input('compass_long', 'compass[long]', 'text', 'Longitude')
                                        +input('compass_showdistance', 'compass[showdistance]', 'checkbox', 'Show Distance')
                                    #tabMap.tab-pane
                                        +input('map_lat', 'map[lat]', 'number', 'Latitude')
                                        +input('map_long', 'map[long]', 'number','Longitude')
                                    #tabText.tab-pane
                                        +input('text_html', 'text[html]', 'wysiwyg','Place some text here')

                    .form-group
                        label.col-sm-2.control-label Answer
                        .col-sm-10
                            .nav-tabs-custom#answerTabs
                                ul.nav.nav-tabs
                                    li.active
                                        a(href='#tabQRCode',tabname='qr', data-toggle='tab') QR Code
                                    li
                                        a(href='#tabQuestion',tabname='question', data-toggle='tab') Question
                                    li
                                        a(href='#tabArea',tabname='area', data-toggle='tab') Area
                                .tab-content
                                    #tabQRCode.tab-pane.active
                                        +input('qr_text', 'qr[text]', 'text', 'Text')
                                        +input('qr_token', 'qr[token]', 'text', 'Token')
                                        .form-group
                                            label.col-sm-2.control-label(for='token') QR Code
                                            .col-sm-10
                                                img(id='token', src='http://goqr.me/_Resources/Static/Packages/GoQrMe.Ui/Images/qr_default.png')
                                    #tabQuestion.tab-pane
                                        +input('question_text', 'question[text]', 'text', 'Text')
                                    #tabArea.tab-pane
                                        +input('area_text', 'area[text]', 'text', 'Text')
                                        +input('area_timetostay', 'area[timetostay]', 'number', 'Time to Stay')
                                        +input('area_showonmap', 'area[showonmap]', 'checkbox', 'Show on Map')
                .box-footer
                    button.btn.btn-info.pull-right(name='createstation', type='submit') Create Station