extends layout/admin

block content
    section.content-header
        h1
            | Dashboard
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Home
            li.active Dashboard
    section.content
        | Dashboard!
