extends layout/base

block beforebody
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href='/')
                    img(src='images/schnitzel_64x64.png', width='50px', height='50px', style='margin-right: 10px;')
                    b Schnitzeljagd
            .login-box-body
                p.login-box-msg Sign in to start your session
                form(action='/login', method='post')
                    .form-group.has-feedback
                        input.form-control(type='email', placeholder='E-Mail')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='Password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .row
                        .col-xs-8
                            .checkbox.icheck
                                label
                                    input(type='checkbox')
                                    |  Remember Me
                        .col-xs-4
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
                br
                a.text-center(href='/register') Register a new account
        script.
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%'
                });
            });
