doctype html

include layout/mixins

html
    head
        title Schnitzeljagd

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')

        link(rel='stylesheet', href='bower_components/adminlte/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        link(rel='stylesheet', href='bower_components/adminlte/dist/css/AdminLTE.min.css')
        link(rel='stylesheet', href='bower_components/adminlte/plugins/iCheck/square/blue.css')

        script(src='bower_components/adminlte/plugins/jQuery/jQuery-2.1.4.min.js')
        script(src='bower_components/adminlte/bootstrap/js/bootstrap.min.js')
        script(src='bower_components/adminlte/plugins/iCheck/icheck.min.js')

        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body.hold-transition.register-page
        .register-box
            .register-logo
                a(href='/')
                    img(src='images/schnitzel_64x64.png', width='50px', height='50px', style='margin-right: 10px;')
                    b Schnitzeljagd
            .register-box-body
                p.login-box-msg Register a new account
                if error
                    +error("Error logging in!", "logging in", error)
                if success
                    +success("Registration successful!", "Please check your inbox for the validation E-Mail!")
                form(action='/register', method='post')
                    .form-group.has-feedback
                        input.form-control(name='email', type='email', placeholder='E-Mail')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(name='username', type='text', placeholder='Username')
                        span.glyphicon.glyphicon-user.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(name='password1', type='password', placeholder='Password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(name='password2' type='password', placeholder='Retype password')
                        span.glyphicon.glyphicon-log-in.form-control-feedback
                    .row
                        .col-xs-8
                        .col-xs-4
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Register
                br
                a.text-center(href='/login') I already have an account
