extends layout/admin

block content
    section.content-header
        h1
            | Team
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Home
            li.active Team
    section.content
        .box.box-default
            .box-header.with-border
                i.fa.fa-file
                h3.box-title New Team
            .box-body
                | Do stuff
