extends layout/admin

block content
    section.content-header
        h1
            | Team
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Home
            li.active Team
    section.content
        | Team!
