doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width')
    body
        h1 Hello, #{user.username}
        p Thank you for registering to Schnitzeljagd. You just need to validate your E-Mail and you can start hunting the Schnitzel!
        p
            | Please validate your E-Mail by clicking the link below:
            br
            a(href="#{validation_link}") #{validation_link}
        p
            | If you get any problems validating your E-Mail, or if you have other questions or problems feel free to contact us:
            br
            a(href="mailto:rene@rene8888.at") rene@rene8888.at
        p
            | Best wishes,
            br
            | The Schnitzeljagd Team